<div class="w-full grid grid-cols-3 gap-6 items-center w-full">
    <div class="lg:col-span-2 col-span-3 md:pt-0 pt-8">
        <img src="@Url.Content("~/Assets/Images/image2.jpg")" class="w-full h-96 object-cover object-center rounded-xl"/>
    </div>
    <div class="lg:col-span-1 col-span-3">
        <div class="w-full p-6 rounded-xl border">
            <h1 class="font-bold mb-3 text-2xl">Login Staff</h1>
            <form id="form_login">
                <div class="form-control space-y-2 pb-4">
                    <label for="email">Email</label>
                    <input class="input bg-base-200 w-full" placeholder="email@example.com" name="email" id="email" type="email" required/>
                </div>
                <div class="form-control space-y-2 pb-4">
                    <label for="password">Password</label>
                    <input class="input bg-base-200 w-full" name="password" id="password" type="password" required />
                </div>
                <div class="flex items-center gap-3 pb-4">
                    <input type="checkbox" class="checkbox checkbox-primary" id="show_password"/>
                    <label for="show_password">Show Password</label>
                </div>
                <button class="btn btn-primary bg-primary w-full w-full text-white">Login</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const passwordToggle = document.getElementById('show_password');
        const passwordInput = document.getElementById('password');
        const formLogin = document.getElementById('form_login');

        passwordToggle.addEventListener('change', function () {
            if (this.checked) {
                passwordInput.setAttribute('type', 'text');
            } else {
                passwordInput.setAttribute('type', 'password');
            }
        });

        formLogin.addEventListener('submit', function (e) {
            e.preventDefault();
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            fetch('/DoLogin', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ email, password })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        let token = data.token
                        let user_id = data.user_data
                        let role = data.user
                        let new_token = token.slice(0, 5) + '-' + user_id + '-' + token.slice(5) + '-' + role

                        sessionStorage.setItem('authToken', new_token)
                        switch (data.user) {
                            case "Admin":
                            case null:
                                window.location.href = '/Admin';
                                break;
                            case "Leader Production":
                                window.location.href = '/Production/Dashboard/'+user_id;
                                break;
                            case "Manager Production":
                                window.location.href = '/Production/ManagerDashboard/' + user_id;
                                break;
                            case "Manager MTC":
                                window.location.href = '/MTC/ManagerDashboard/' + user_id;
                                break;
                            case "Leader MTC":
                                window.location.href = '/MTC/Dashboard/' + user_id;
                                break;
                            case "Member MTC":
                                window.location.href = '/MTC/Member/' + user_id;
                                break;
                            default:
                                alert('Unauthorized access');
                        }
                    } else {
                        alert('Login failed: ' + data.message);
                        console.log(data)
                    }
                })
                .catch(error => {
                    console.error('Error during login:', error);
                    alert('Error logging in. Please try again later.');
                });
        })
    });
</script>