@{
    Layout = "~/Views/Shared/_App_Layout.cshtml";
}

<div class="space-y-4 mt-5">
    <div class="w-full grid xl:grid-cols-4 grid-cols-2 gap-4">
        <div>
            <div class="w-full flex items-center justify-between bg-primary p-4 rounded-xl text-white">
                <p class="text-sm">Machines</p>
                <h2 class="text-3xl">07</h2>
            </div>
        </div>
        <div>
            <div class="w-full flex items-center justify-between bg-primary p-4 rounded-xl text-white">
                <p class="text-sm">Cases</p>
                <h2 class="text-3xl">12</h2>
            </div>
        </div>
        <div>
            <div class="w-full flex items-center justify-between bg-primary p-4 rounded-xl text-white">
                <p class="text-sm">KYT Forms</p>
                <h2 class="text-3xl">02</h2>
            </div>
        </div>
        <div>
            <div class="w-full flex items-center justify-between bg-primary p-4 rounded-xl text-white">
                <p class="text-sm">KYT Forms</p>
                <h2 class="text-3xl">08</h2>
            </div>
        </div>
    </div>
    <div class="w-full grid lg:grid-cols-2 grid-cols-1 gap-4">
        <div>
            <div class="w-full bg-base-100 p-6 rounded-xl">
                <div class="flex items-center justify-between w-full mb-3">
                    <h1 class="font-semibold">Repair Schedule <span class="badge badge-primary">03</span></h1>
                    <div>
                        <button class="btn btn-sm btn-primary">Add new</button>
                        <div class="dropdown dropdown-end">
                            <div tabindex="0" role="button" class="btn btn-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16"><path fill="currentColor" d="M8 2.5a1.22 1.22 0 0 1 1.25 1.17A1.21 1.21 0 0 1 8 4.84a1.21 1.21 0 0 1-1.25-1.17A1.22 1.22 0 0 1 8 2.5m0 8.66a1.17 1.17 0 1 1-1.25 1.17A1.21 1.21 0 0 1 8 11.16m0-4.33a1.17 1.17 0 1 1 0 2.34a1.17 1.17 0 1 1 0-2.34" /></svg>
                            </div>
                            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                                <li><a>Select to Edit</a></li>
                                <li><a>Delete All</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="space-y-3">
                    <div class="grid grid-cols-3 w-full hover:border rounded-xl p-3">
                        <div class="col-span-2">
                            <h1 class="">Automation Machine Troubleshoot</h1>
                            <p class="text-xs mt-2">Scheduled at: Wednesday, 20 March 2024</p>
                            <p class="text-xs mt-1">By: Bayu Purnama</p>
                        </div>
                        <div class="text-right">
                            <div class="dropdown dropdown-end">
                                <div tabindex="0" role="button" class="btn btn-sm bg-base-100 hover:bg-base-100 border-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16"><path fill="currentColor" d="M8 2.5a1.22 1.22 0 0 1 1.25 1.17A1.21 1.21 0 0 1 8 4.84a1.21 1.21 0 0 1-1.25-1.17A1.22 1.22 0 0 1 8 2.5m0 8.66a1.17 1.17 0 1 1-1.25 1.17A1.21 1.21 0 0 1 8 11.16m0-4.33a1.17 1.17 0 1 1 0 2.34a1.17 1.17 0 1 1 0-2.34" /></svg>
                                </div>
                                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                                    <li><a>Edit</a></li>
                                    <li><a>Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-3 w-full hover:border rounded-xl p-3">
                        <div class="col-span-2">
                            <h1 class="">Automation Machine Troubleshoot</h1>
                            <p class="text-xs mt-2">Scheduled at: Wednesday, 20 March 2024</p>
                            <p class="text-xs mt-1">By: Peter</p>
                        </div>
                        <div class="text-right">
                            <div class="dropdown dropdown-end">
                                <div tabindex="0" role="button" class="btn btn-sm bg-base-100 hover:bg-base-100 border-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16"><path fill="currentColor" d="M8 2.5a1.22 1.22 0 0 1 1.25 1.17A1.21 1.21 0 0 1 8 4.84a1.21 1.21 0 0 1-1.25-1.17A1.22 1.22 0 0 1 8 2.5m0 8.66a1.17 1.17 0 1 1-1.25 1.17A1.21 1.21 0 0 1 8 11.16m0-4.33a1.17 1.17 0 1 1 0 2.34a1.17 1.17 0 1 1 0-2.34" /></svg>
                                </div>
                                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                                    <li><a>Edit</a></li>
                                    <li><a>Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-3 w-full hover:border rounded-xl p-3">
                        <div class="col-span-2">
                            <h1 class="">Automation Machine Troubleshoot</h1>
                            <p class="text-xs mt-2">Scheduled at: Wednesday, 20 March 2024</p>
                            <p class="text-xs mt-1">By: Peter</p>
                        </div>
                        <div class="text-right">
                            <div class="dropdown dropdown-end">
                                <div tabindex="0" role="button" class="btn btn-sm bg-base-100 hover:bg-base-100 border-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16"><path fill="currentColor" d="M8 2.5a1.22 1.22 0 0 1 1.25 1.17A1.21 1.21 0 0 1 8 4.84a1.21 1.21 0 0 1-1.25-1.17A1.22 1.22 0 0 1 8 2.5m0 8.66a1.17 1.17 0 1 1-1.25 1.17A1.21 1.21 0 0 1 8 11.16m0-4.33a1.17 1.17 0 1 1 0 2.34a1.17 1.17 0 1 1 0-2.34" /></svg>
                                </div>
                                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                                    <li><a>Edit</a></li>
                                    <li><a>Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="w-full flex justify-end">
                        <div class="join">
                            <button class="btn join-item"><</button>
                            <button class="btn btn-primary join-item">1</button>
                            <button class="btn join-item">></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="w-full bg-base-100 p-6 rounded-xl">
                <div class="flex items-center justify-between w-full mb-3">
                    <h1 class="font-semibold">User Staff <span class="badge badge-primary">05</span></h1>
                    <div>
                        <button class="btn btn-sm btn-primary">Add new</button>
                        <div class="dropdown dropdown-end">
                            <div tabindex="0" role="button" class="btn btn-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16"><path fill="currentColor" d="M8 2.5a1.22 1.22 0 0 1 1.25 1.17A1.21 1.21 0 0 1 8 4.84a1.21 1.21 0 0 1-1.25-1.17A1.22 1.22 0 0 1 8 2.5m0 8.66a1.17 1.17 0 1 1-1.25 1.17A1.21 1.21 0 0 1 8 11.16m0-4.33a1.17 1.17 0 1 1 0 2.34a1.17 1.17 0 1 1 0-2.34" /></svg>
                            </div>
                            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                                <li><a>Select to Edit</a></li>
                                <li><a>Delete All</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="grid grid-cols-3 w-full hover:border rounded-xl p-3">
                        <div class="col-span-2 gap-4 flex items-center">
                            <div class="avatar">
                                <div class="w-12 mask mask-squircle">
                                    <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                                </div>
                            </div>
                            <div>
                                <h1 class="">Bayu Purnama</h1>
                                <p class="text-xs mt-1">Leader Production</p>
                            </div>
                        </div>
                        <div class="text-right">
                            <div class="dropdown dropdown-end">
                                <div tabindex="0" role="button" class="btn btn-sm bg-base-100 hover:bg-base-100 border-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16"><path fill="currentColor" d="M8 2.5a1.22 1.22 0 0 1 1.25 1.17A1.21 1.21 0 0 1 8 4.84a1.21 1.21 0 0 1-1.25-1.17A1.22 1.22 0 0 1 8 2.5m0 8.66a1.17 1.17 0 1 1-1.25 1.17A1.21 1.21 0 0 1 8 11.16m0-4.33a1.17 1.17 0 1 1 0 2.34a1.17 1.17 0 1 1 0-2.34" /></svg>
                                </div>
                                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                                    <li><a>Edit</a></li>
                                    <li><a>Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-3 w-full hover:border rounded-xl p-3">
                        <div class="col-span-2 gap-4 flex items-center">
                            <div class="avatar">
                                <div class="w-12 mask mask-squircle">
                                    <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                                </div>
                            </div>
                            <div>
                                <h1 class="">Peter Sabit</h1>
                                <p class="text-xs mt-1">Manager Production</p>
                            </div>
                        </div>
                        <div class="text-right">
                            <div class="dropdown dropdown-end">
                                <div tabindex="0" role="button" class="btn btn-sm bg-base-100 hover:bg-base-100 border-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16"><path fill="currentColor" d="M8 2.5a1.22 1.22 0 0 1 1.25 1.17A1.21 1.21 0 0 1 8 4.84a1.21 1.21 0 0 1-1.25-1.17A1.22 1.22 0 0 1 8 2.5m0 8.66a1.17 1.17 0 1 1-1.25 1.17A1.21 1.21 0 0 1 8 11.16m0-4.33a1.17 1.17 0 1 1 0 2.34a1.17 1.17 0 1 1 0-2.34" /></svg>
                                </div>
                                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                                    <li><a>Edit</a></li>
                                    <li><a>Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-3 w-full hover:border rounded-xl p-3">
                        <div class="col-span-2 gap-4 flex items-center">
                            <div class="avatar">
                                <div class="w-12 mask mask-squircle">
                                    <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                                </div>
                            </div>
                            <div>
                                <h1 class="">Khusnul Khuluq</h1>
                                <p class="text-xs mt-1">Leader MTC</p>
                            </div>
                        </div>
                        <div class="text-right">
                            <div class="dropdown dropdown-end">
                                <div tabindex="0" role="button" class="btn btn-sm bg-base-100 hover:bg-base-100 border-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16"><path fill="currentColor" d="M8 2.5a1.22 1.22 0 0 1 1.25 1.17A1.21 1.21 0 0 1 8 4.84a1.21 1.21 0 0 1-1.25-1.17A1.22 1.22 0 0 1 8 2.5m0 8.66a1.17 1.17 0 1 1-1.25 1.17A1.21 1.21 0 0 1 8 11.16m0-4.33a1.17 1.17 0 1 1 0 2.34a1.17 1.17 0 1 1 0-2.34" /></svg>
                                </div>
                                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                                    <li><a>Edit</a></li>
                                    <li><a>Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-3 w-full hover:border rounded-xl p-3">
                        <div class="col-span-2 gap-4 flex items-center">
                            <div class="avatar">
                                <div class="w-12 mask mask-squircle">
                                    <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                                </div>
                            </div>
                            <div>
                                <h1 class="">Faiz Surya</h1>
                                <p class="text-xs mt-1">Member MTC</p>
                            </div>
                        </div>
                        <div class="text-right">
                            <div class="dropdown dropdown-end">
                                <div tabindex="0" role="button" class="btn btn-sm bg-base-100 hover:bg-base-100 border-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16"><path fill="currentColor" d="M8 2.5a1.22 1.22 0 0 1 1.25 1.17A1.21 1.21 0 0 1 8 4.84a1.21 1.21 0 0 1-1.25-1.17A1.22 1.22 0 0 1 8 2.5m0 8.66a1.17 1.17 0 1 1-1.25 1.17A1.21 1.21 0 0 1 8 11.16m0-4.33a1.17 1.17 0 1 1 0 2.34a1.17 1.17 0 1 1 0-2.34" /></svg>
                                </div>
                                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                                    <li><a>Edit</a></li>
                                    <li><a>Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-3 w-full hover:border rounded-xl p-3">
                        <div class="col-span-2 gap-4 flex items-center">
                            <div class="avatar">
                                <div class="w-12 mask mask-squircle">
                                    <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                                </div>
                            </div>
                            <div>
                                <h1 class="">Vicko Gusnaidi</h1>
                                <p class="text-xs mt-1">Manager MTC</p>
                            </div>
                        </div>
                        <div class="text-right">
                            <div class="dropdown dropdown-end">
                                <div tabindex="0" role="button" class="btn btn-sm bg-base-100 hover:bg-base-100 border-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16"><path fill="currentColor" d="M8 2.5a1.22 1.22 0 0 1 1.25 1.17A1.21 1.21 0 0 1 8 4.84a1.21 1.21 0 0 1-1.25-1.17A1.22 1.22 0 0 1 8 2.5m0 8.66a1.17 1.17 0 1 1-1.25 1.17A1.21 1.21 0 0 1 8 11.16m0-4.33a1.17 1.17 0 1 1 0 2.34a1.17 1.17 0 1 1 0-2.34" /></svg>
                                </div>
                                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                                    <li><a>Edit</a></li>
                                    <li><a>Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="w-full flex justify-end">
                        <div class="join">
                            <button class="btn join-item"><</button>
                            <button class="btn btn-primary join-item">1</button>
                            <button class="btn join-item">></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>