@{
    Layout = "~/Views/Shared/_App_Layout.cshtml";
}

<div class="space-y-4 mt-5">
    <div class="w-full grid lg:grid-cols-1 grid-cols-1 gap-4">
        <div>
            <div class="w-full bg-base-100 p-6 rounded-xl">
                <div class="flex items-center justify-between w-full mb-3">
                    <h1 class="font-semibold">Profile</h1>
                </div>
                <div class="space-y-3 mt-8">
                    <div class="grid md:grid-cols-1 grid-cols-1 gap-4">
                        <div>
                            <div class="avatar">
                                <div class="w-32 mask mask-squircle">
                                    <img id="image_profile" src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                                </div>
                            </div>
                        </div>
                        <div>
                            <form>
                                <div class="form-control my-3">
                                    <label for="avatar">User Avatar</label>
                                    <input type="file" name="avatar" placeholder="Enter user name" id="avatar" class="input input-bordered mt-1 input-sm w-full" />
                                </div>
                                <div class="form-control my-3">
                                    <label for="name">User Name</label>
                                    <input type="text" name="name" id="name" placeholder="Enter user name" id="name" class="input input-bordered mt-1 w-full" />
                                </div>
                                <div class="form-control my-3">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email" placeholder="Enter user email" id="email" class="input input-bordered mt-1 w-full" />
                                </div>
                                <div class="form-control my-3">
                                    <label for="phone">User Phone</label>
                                    <input type="text" name="phone" id="phone" placeholder="Enter user name" id="phone" class="input input-bordered mt-1 w-full" />
                                </div>
                                <div class="form-control my-3">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="password" placeholder="Enter user password" id="password" class="input input-bordered mt-1 w-full" />
                                </div>
                                <div class="form-control my-3">
                                    <label for="role">Role</label>
                                    <input readonly type="text" name="role" id="role" id="role" class="input input-bordered mt-1 w-full" />
                                </div>
                            </form>
                            <button class="btn btn-primary">Save Data</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let checkToken = sessionStorage.getItem('authToken')
            if (checkToken != null && checkToken != undefined) {
                let separator = checkToken.split('-')
                let role = separator.pop()
                let suffix = checkToken.split('-')[1]
                let user_id_selection = checkToken.slice(5, checkToken.indexOf('-'))
                let user_id = parseInt(checkToken.split("-")[1])

                fetchUser(user_id, role)
            } else window.location.href = "/Login"

            function fetchUser(user_id, role) {
                fetch("/Production/UserData/" + user_id, {
                    method: "GET",
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then((response) => {
                        return response.json()
                    })
                    .then((data) => {
                        console.log(data.data)
                        document.getElementById('image_profile').setAttribute('src', 'https://ui-avatars.com/api/?name=' + encodeURI(data.data.name))
                        document.getElementById('name').value = data.data.name
                        document.getElementById('email').value = data.data.email
                        document.getElementById('phone').value = data.data.phone
                        document.getElementById('role').value = role
                        if (data.data.avatar != null) {
                            document.getElementById('image_profile').setAttribute('src', data.data.avatar.replace("wwwroot", ""))
                        }
                    })
            }
        })
    </script>
}