@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="max-w-2xl p-8 rounded-xl border">
    <h1 class="text-3xl font-bold mb-4">@ViewData["Title"]</h1>
    <p class="mb-2">
        Welcome to the Privacy Policy page of PT Panasonic Machine Checker. Our commitment is to maintain the privacy and security of your personal data.
    </p>
    <!-- Contoh bagian kebijakan -->
    <div class="mb-4">
        <h2 class="text-2xl font-semibold mb-2">Information Collection</h2>
        <p>We collect information when you use our site, including but not limited to, name, email address, and others.</p>
    </div>
    <div class="mb-4">
        <h2 class="text-2xl font-semibold mb-2">Use of Information</h2>
        <p>The information we collect from you may be used to personalize your experience and improve </p>
    </div>
</div>